// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html, body, div#root {
  height: 100%;
}

div#root {
  display: flex;
  flex-direction: column;
}

footer {
  @extend .mt-auto;
}